.informationGrid img {
  max-height: 100%;
  text-align: center;
  max-width: 100%; }

.informationGrid .caption {
  font-style: italic; }

.informationGrid .column {
  padding-left: 0;
  padding-right: 0; }
