<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b13b98a7-aa9b-4568-8ff3-fe7af3cdc653" Alias="sEOControl" Level="2">
  <Info>
    <Name>SEO Control</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>88e7fe2e-18ae-4ecb-b3ff-3bdc5460a76f</Key>
      <Name>Meta Description</Name>
      <Alias>metaDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the meta description for this page, one to two rows]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>SEO</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3303b9a4-325e-4eec-be3a-171c24a9a314</Key>
      <Name>Meta Keywords</Name>
      <Alias>metaKeywords</Alias>
      <Definition>b6b73142-b9c1-4bf8-a16d-e1c23320b549</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the keywords for this page]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>SEO</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c3684143-f196-4110-a99d-91d3711e70e6</Key>
      <Name>Website Title</Name>
      <Alias>websiteTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the title of the page, if you want to use the standard one, leave this field empty]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>SEO</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>SEO</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>