<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6b8c3c99-e9c1-40db-a1b7-e66c63cff199" Alias="startpageBox" Level="2">
  <Info>
    <Name>StartPage ProductBox</Name>
    <Icon>icon-playing-cards color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <Folder>Elements</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8fe9bc72-b4b7-469b-908f-1d82b572301a</Key>
      <Name>descriptionText</Name>
      <Alias>descriptionText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A short text describing the product. Max 150 chars]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>645f4c43-2313-4014-8e01-63de4f49f980</Key>
      <Name>iconCode</Name>
      <Alias>iconCode</Alias>
      <Definition>5edefe05-9315-4279-90ad-4d661d9d1f27</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the Fontawesome class code (e.g. fas fa-bold fa-5x)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1d677243-e756-4080-9eff-79416b7b372b</Key>
      <Name>Product Title</Name>
      <Alias>productTitle</Alias>
      <Definition>5edefe05-9315-4279-90ad-4d661d9d1f27</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the name of the product]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4e0cd7be-3d65-4c06-91ce-442e3e9fe285</Key>
      <Name>webpageLink</Name>
      <Alias>webpageLink</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A link to the correct webpage]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>