@model IEnumerable<IPublishedContent>

@{
    foreach (var item in Model)
    {
        if(Model != null && Model.Any()){

            var FAQselection = item.DescendantsOrSelf().OfTypes("fAQItem")
                .Where(x => x.IsVisible())
                .OrderBy(x => x.Id);

            <h3>@item.Name</h3>

            @Html.Partial("Faq/_FaqCategory", FAQselection);
        }
    }
}
