.hr-80 {
  width: 80%; }

.width-70 {
  width: 70%; }

.margin-right {
  margin-right: 0.6rem; }

.padding-top {
  padding-top: 2rem; }

.padding-bottom {
  padding-bottom: 2rem; }

.padding-right {
  padding-right: 2rem; }

.padding-left {
  padding-left: 2rem; }

.padding-all {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem; }

.breadcrumb {
  background-color: white; }

#FAQdropdown {
  width: 100%;
  cursor: pointer; }

#FAQpageDropdown {
  width: 100%;
  cursor: pointer; }

.faqSection .card-header a {
  color: black;
  text-decoration: none; }

.faqSection .card-header .lead {
  font-size: 1.2rem; }

.faqSection .card-body p {
  margin-bottom: 0; }

.validation-summary-errors {
  color: red; }
  .validation-summary-errors ul {
    list-style-type: none; }

nav {
  border-bottom: 0.5px solid #c1c1c1;
  background-color: #d4e8fc; }
  nav .navbar {
    padding-top: 0;
    padding-bottom: 0;
    height: 20px; }
  nav li {
    font-size: 1.3rem; }
  nav .login-div-btn {
    border-radius: 1rem; }
    nav .login-div-btn .nav-link {
      color: white !important;
      font-size: 1.3rem; }

.cards-header {
  margin-bottom: 2rem; }

.image-fitting-div {
  text-align: center;
  padding: 0; }
  @media (min-width: 992px) {
    .image-fitting-div {
      height: 600px;
      overflow: hidden; } }

.start-image {
  padding: 1rem;
  padding-bottom: 2rem; }
  @media (max-width: 574px) {
    .start-image {
      padding: 0;
      padding-bottom: 1rem; } }

.fa-file-alt,
.fa-envelope,
.fa-phone {
  color: #d4e8fc; }

footer {
  background-color: #95cbfa; }
  footer ul {
    list-style-type: none;
    font-size: 1rem;
    padding-left: 0;
    padding-right: 0; }
    @media (max-width: 574px) {
      footer ul {
        font-size: 0.8rem; } }
  footer a {
    color: inherit; }

.product-item {
  height: 16rem;
  background-color: #d4e8fc;
  border-radius: 0.4rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }
  .product-item .product-item-icon {
    height: 7rem;
    padding-top: 1.5rem; }
    .product-item .product-item-icon .product-item-iconColor {
      color: #428BCA;
      font-size: 4rem;
      transition: 500ms; }
  .product-item:hover .product-item-iconColor {
    font-size: 4.5rem;
    color: #2d6ab9;
    transition: 200ms; }
  .product-item .lead {
    font-size: 1.2rem; }
  @media (min-width: 768px) {
    .product-item {
      height: 18rem; } }
  @media (max-width: 574px) {
    .product-item {
      height: 12rem;
      /*padding-left: 0.5rem;
        padding-right: 0.5rem;
        text-align: center;
        .product-item-icon{
            display: block;
        }
        h3{
            font-size: 1.5rem;
            margin-top:1rem;
        }*/ }
      .product-item .cardDesc .lead {
        display: none; } }

.cardHover {
  color: inherit; }

.cardHover:hover {
  text-decoration: none;
  color: inherit; }

.informationGrid {
  font-weight: 400; }
  .informationGrid img {
    max-height: 100%;
    text-align: center;
    max-width: 100%; }
  .informationGrid .caption {
    font-style: italic; }
  .informationGrid .column {
    padding-left: 1rem;
    padding-right: 1rem; }

.faqSection h3 {
  padding: 1rem; }

.documents {
  padding-top: 0.5rem;
  border: 1px solid lightgray;
  font-size: 1.2rem;
  font-weight: 300;
  border-radius: 5px; }
  .documents h3 {
    text-align: center;
    font-weight: 300; }
  .documents ul {
    color: gray; }
  .documents a {
    /*color: gray;*/ }
  .documents p {
    padding-right: 0.5rem; }
    @media (max-width: 768px) {
      .documents p {
        padding-left: 0.5rem; } }

.informationTextFaq {
  font-size: 1.1rem;
  padding: 1rem; }

.FAQtitle {
  padding-left: 1rem; }

.contact-form {
  /*border: 1px solid black;*/
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #95cbfa, transparent) 1 100%;
  padding: 1rem; }

@media (min-width: 772px) {
  .contact-form {
    margin-left: 3rem;
    margin-right: 3rem; } }

input:valid {
  border: 2px solid #57e669; }

input:not([value=""]):not(:focus):invalid {
  border: 2px solid #ef7272; }

.logout-btn {
  border-radius: 1rem; }

.login-btn {
  border-radius: 1rem; }

.btn {
  font-size: 1.3rem; }

.userSection .row h2 {
  font-weight: 300; }

.text-logout {
  line-height: 40px;
  font-size: 1.5rem; }

.manual-box {
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
  font-weight: 400;
  padding: .375rem .75rem;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 1.5;
  font-size: 1.5rem;
  background-color: #d4e8fc; }
  .manual-box .manual-header {
    text-align: center; }
  .manual-box .manual-content {
    font-weight: 300;
    font-size: 1.3rem; }

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
