<?xml version="1.0" encoding="utf-8"?>
<Macro Key="ea0fca46-ae1f-4075-be3c-b715c7bc3362" Alias="Breadcrumb" Level="0">
  <Name>Breadcrumb</Name>
  <MacroSource>~/Views/MacroPartials/Breadcrumb.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>