@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ErrorPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

<section class="userSection">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6 pb-2">
                @Model.Value("errorMessage")
                @{
                    if (!Umbraco.MemberIsLoggedOn())
                    {
                        Html.RenderAction("RenderLogin", "Member");
                    }
                }
            </div>
        </div>
    </div>
</section>