@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.PortalPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
 	var homePage = Model.Root();

}

<section class="userSection">
    <div class="container">
        <div class="row">
            <div class="col-12">
                @{ Html.RenderAction("RenderLogin", "Member");}
                <hr class="hr-80" />
            </div>

            <div class="col-12">
                @{
                    var roleList = System.Web.Security.Roles.GetRolesForUser(System.Web.Security.Membership.GetUser().UserName);

                    foreach (var role in roleList)
                    {
                        <div class="manual-box col-4" style="border: 1px solid gray; background-color:#d4e8fc">
                            <div class="manual-header">
                                <p>@role</p>
                                <hr class="hr-80" />
                            </div>
                            <div clas="manual-content" style="height: 15rem">
                                <ul>                                   
                                    <li>hejsan</li>
                                </ul>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>