<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1d504af5-d3e0-4114-af72-71b94d660b33" Alias="downloadCollection" Level="3">
  <Info>
    <Name>Download Collection</Name>
    <Icon>icon-folders color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Download</Folder>
    <Compositions />
    <DefaultTemplate>Redirect</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="187e857c-7232-4f50-95d0-9d6c3fa668af">Redirect</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="1efc2c8c-8238-4061-bfde-6065e54f3517">downloadItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>