<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="06b095dd-3f52-4909-a6f1-6253b929384b" Alias="errorPage" Level="3">
  <Info>
    <Name>ErrorPage</Name>
    <Icon>icon-os-x color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Login</Folder>
    <Compositions />
    <DefaultTemplate>ErrorPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="707e2baf-2e1d-429c-8b87-d1eb7c407fca">ErrorPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>