<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e7f0fbae-f674-4c3c-ba50-83ada1eaa2d6" Alias="fAQCollection" Level="3">
  <Info>
    <Name>FAQ Collection</Name>
    <Icon>icon-window-sizes color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/FAQ</Folder>
    <Compositions />
    <DefaultTemplate>Redirect</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="187e857c-7232-4f50-95d0-9d6c3fa668af">Redirect</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7f38daf9-a63e-4b36-b1ce-c6fc8e30119d">fAQItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>