<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7f38daf9-a63e-4b36-b1ce-c6fc8e30119d" Alias="fAQItem" Level="2">
  <Info>
    <Name>FAQItem</Name>
    <Icon>icon-lightbulb-active color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>037a52b8-2600-4a0a-a597-7c56accba897</Key>
      <Name>Answer</Name>
      <Alias>answer</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the Answer to the question]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>FAQ</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>698ab03d-8a31-4a32-9cf6-b6272abe4830</Key>
      <Name>Question</Name>
      <Alias>question</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the FAQ question]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>FAQ</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>FAQ</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>