<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3bd3f0a4-08db-493f-94ca-d80e194b17f8" Alias="fAQPage" Level="3">
  <Info>
    <Name>FAQ Page</Name>
    <Icon>icon-operator color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/FAQ</Folder>
    <Compositions>
      <Composition Key="a939f002-dbe1-4a73-a8ed-85afdbd1dc77">contactFormContent</Composition>
      <Composition Key="af8283b1-f6f7-4cee-9ca9-b09ddc6364d0">formControl</Composition>
      <Composition Key="b13b98a7-aa9b-4568-8ff3-fe7af3cdc653">sEOControl</Composition>
    </Compositions>
    <DefaultTemplate>FAQPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="714fc490-cb11-4c39-98aa-57f034869d9d">FAQPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>dc29d6d9-4e4c-4810-a55f-207dc6b40761</Key>
      <Name>Information Text</Name>
      <Alias>informationText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the information text for the Faq page]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>6e0d9b59-66db-405c-943f-01aef9c6a10f</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[website header]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>