<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="af8283b1-f6f7-4cee-9ca9-b09ddc6364d0" Alias="formControl" Level="2">
  <Info>
    <Name>Form Control</Name>
    <Icon>icon-checkbox color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ea266e56-f4b7-450f-bd56-1433adfd98e1</Key>
      <Name>displayForm</Name>
      <Alias>displayForm</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Wether or not to display the contact form]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Form Check</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Form Check</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>