<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="00e80d05-ae74-4816-88a9-c837d6891dc1" Alias="homePage" Level="2">
  <Info>
    <Name>HomePage</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This is our homepage template</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="a939f002-dbe1-4a73-a8ed-85afdbd1dc77">contactFormContent</Composition>
      <Composition Key="af8283b1-f6f7-4cee-9ca9-b09ddc6364d0">formControl</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9c0e0506-9393-48c9-ad68-6fdc10fb0b50">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="06b095dd-3f52-4909-a6f1-6253b929384b">errorPage</ContentType>
    <ContentType Key="3bd3f0a4-08db-493f-94ca-d80e194b17f8">fAQPage</ContentType>
    <ContentType Key="03454946-0f6b-4980-a372-22aab5b6d0b0">loginPage</ContentType>
    <ContentType Key="3226b638-81fd-4f67-a8b6-aca7e3bcac17">portalPage</ContentType>
    <ContentType Key="7569456c-b2a0-420a-bf03-d2a4494b25df">productPage</ContentType>
    <ContentType Key="c0e1ca36-64ea-484b-b680-c12ea081476c">standardPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>1a2b1f6f-43ed-4935-ba6d-d6db8cb74304</Key>
      <Name>BoxList</Name>
      <Alias>boxList</Alias>
      <Definition>06af4bfa-5785-4b31-b958-9e0851ac5d92</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Home Page content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ac3ef71e-8b0b-4d53-8549-f929a612d7fb</Key>
      <Name>boxTitle</Name>
      <Alias>boxTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the title to be added over the product boxes]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Home Page content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>9c737405-2e20-416b-8463-9ad78de71ba1</Key>
      <Name>Band Icon</Name>
      <Alias>brandIcon</Alias>
      <Definition>91ff842e-068c-475b-8547-c86c2b340def</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Upload a brand icon, scales down to 80px in height]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Brand Icon</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8436142f-5fff-44d3-878b-140cdb2fa669</Key>
      <Name>Business Hours</Name>
      <Alias>businessHours</Alias>
      <Definition>9e0fbc7e-bfc8-427f-8159-52f1fd4e1d77</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the business hours including exceptions like closeing for holiday.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>885ff498-75e4-4745-bfe1-0a766f65b8dc</Key>
      <Name>Contact Email</Name>
      <Alias>contactEmail</Alias>
      <Definition>5edefe05-9315-4279-90ad-4d661d9d1f27</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the wanted email adress for contact]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>23b3353b-4cbd-4844-aeb3-841e3494e8d0</Key>
      <Name>Contact Phone</Name>
      <Alias>contactPhone</Alias>
      <Definition>5edefe05-9315-4279-90ad-4d661d9d1f27</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the wanted phonenumber for contact]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>9e89433e-3865-4ae5-9931-333188800a7d</Key>
      <Name>Default Receieving Email</Name>
      <Alias>defaultReceievingEmail</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the wanted default reveieving email address]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Default Form</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>094a3794-16cd-434b-9822-c7e920e7431a</Key>
      <Name>Default Sending Email</Name>
      <Alias>defaultSendingEmail</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the wanted default sending email address.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Default Form</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>9820a41a-b5a1-4952-9d98-83c5cee95586</Key>
      <Name>Entry Image</Name>
      <Alias>entryImage</Alias>
      <Definition>91ff842e-068c-475b-8547-c86c2b340def</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The image that is the first thing the user sees on the homepage]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Home Page content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c41e5a02-4151-4947-850e-9a3e3ae00e6b</Key>
      <Name>FAQ list</Name>
      <Alias>fAQList</Alias>
      <Definition>2748989f-ca24-4ba6-bbbc-6d8f1ed30e2d</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Home Page content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>dd9f57cb-1f9f-4c72-abe6-7010ed42bc1e</Key>
      <Name>Favicon</Name>
      <Alias>favicon</Alias>
      <Definition>91ff842e-068c-475b-8547-c86c2b340def</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter prefered favicon]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Brand Icon</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c5431d0b-05ab-4c60-9ecf-6df661919878</Key>
      <Name>Information Hours</Name>
      <Alias>informationHours</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter information about business hours.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0c686039-6a02-4c15-8db5-19b9d06dbad6</Key>
      <Name>metaDescriptionHome</Name>
      <Alias>metaDescriptionHome</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the meta description for this page, one to two rows.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Meta</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4b429b35-599e-4c6a-95cc-92677a044634</Key>
      <Name>metaKeywordsHome</Name>
      <Alias>metaKeywordsHome</Alias>
      <Definition>9e0fbc7e-bfc8-427f-8159-52f1fd4e1d77</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the meta keywords for this webpage]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Meta</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>cb9a3dba-ffcf-4aa5-bcef-8aab7bfce5df</Key>
      <Name>Supportform Link</Name>
      <Alias>supportformLink</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter link to support form if you have one]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>77b77753-098c-4d83-a715-8969ce0788ba</Key>
      <Name>WebsiteTitleHome</Name>
      <Alias>websiteTitleHome</Alias>
      <Definition>5edefe05-9315-4279-90ad-4d661d9d1f27</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the title that is going to be shown at the window tab i the browser]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Meta</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Meta</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Default Form</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Brand Icon</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Home Page content</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>Footer</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>