<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="03454946-0f6b-4980-a372-22aab5b6d0b0" Alias="loginPage" Level="3">
  <Info>
    <Name>LoginPage</Name>
    <Icon>icon-logout color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Login</Folder>
    <Compositions />
    <DefaultTemplate>LoginPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="66297af2-3455-4555-bcf0-60dd83ccc081">LoginPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>