<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="56c31607-1286-4519-bebc-e4c823eac97e" Alias="newsRSS" Level="3">
  <Info>
    <Name>News RSS</Name>
    <Icon>icon-theater color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/News</Folder>
    <Compositions />
    <DefaultTemplate>NewsRSS</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="130d32c4-d835-475a-bcfe-4018193a6eb7">NewsRSS</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>