<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="82dcb04b-b875-4884-9470-c718937c799a" Alias="newsCollection" Level="3">
  <Info>
    <Name>News Collection</Name>
    <Icon>icon-utilities color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/News</Folder>
    <Compositions />
    <DefaultTemplate>redirect</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="187e857c-7232-4f50-95d0-9d6c3fa668af">redirect</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f85015c0-81e1-4f33-b32f-8f92a7195da7">newsPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>