<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3226b638-81fd-4f67-a8b6-aca7e3bcac17" Alias="portalPage" Level="3">
  <Info>
    <Name>PortalPage</Name>
    <Icon>icon-unlocked color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages/Login</Folder>
    <Compositions />
    <DefaultTemplate>PortalPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8399fba1-f0ff-4c0a-a25b-2b7e085b1ae1">PortalPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>