<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7569456c-b2a0-420a-bf03-d2a4494b25df" Alias="productPage" Level="2">
  <Info>
    <Name>Product Page</Name>
    <Icon>icon-document color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="b13b98a7-aa9b-4568-8ff3-fe7af3cdc653">sEOControl</Composition>
    </Compositions>
    <DefaultTemplate>ProductPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0ad3d3a8-4145-43ed-8024-d6d40b439cbb">ProductPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7f38daf9-a63e-4b36-b1ce-c6fc8e30119d">fAQItem</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>94dfaffc-5109-4554-a37d-e18b7be26ab1</Key>
      <Name>ProductPage Content</Name>
      <Alias>productPageContent</Alias>
      <Definition>0c7fe527-51b0-4c79-9e1f-48f817d4facf</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Arrange the content of the productpage as you like, with images and such]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>