<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3ee8f5a4-5e25-4416-9fdb-dfbc99d605b0" Alias="DownloadItem URL picker" Level="1">
  <Info>
    <Name>DownloadItem URL picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>