<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5b1e0909-421b-4b45-a28b-0d58d766b464" Alias="FAQ Page - WhereShow - Content Picker" Level="1">
  <Info>
    <Name>FAQ Page - WhereShow - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>