<?xml version="1.0" encoding="utf-8"?>
<DataType Key="10f5f02c-dae2-4b5c-87b1-1b77aebf745c" Alias="FAQ Page - WhereShow - Radio button list" Level="1">
  <Info>
    <Name>FAQ Page - WhereShow - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": []
}]]></Config>
</DataType>