<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2748989f-ca24-4ba6-bbbc-6d8f1ed30e2d" Alias="HomePage - FAQ list" Level="1">
  <Info>
    <Name>HomePage - FAQ list</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "fAQPicker",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": 0,
  "MaxItems": 10,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>