<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0812246a-e346-43e2-bc65-031facbbcc60" Alias="Member - ownedProducts - Nested Content" Level="1">
  <Info>
    <Name>Member - ownedProducts - Nested Content</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "userPortalOwned",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>