<?xml version="1.0" encoding="utf-8"?>
<DataType Key="82598308-bd56-4517-bf01-c6fe2960e36a" Alias="Member - productDocuments - Multinode Treepicker" Level="1">
  <Info>
    <Name>Member - productDocuments - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "productPage",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>