<?xml version="1.0" encoding="utf-8"?>
<DataType Key="53d04a30-24bf-4adb-8a76-b025a66961a1" Alias="Member - ownedProducts - Content Picker" Level="1">
  <Info>
    <Name>Member - ownedProducts - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ShowOpenButton": false,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>