<?xml version="1.0" encoding="utf-8"?>
<DataType Key="06af4bfa-5785-4b31-b958-9e0851ac5d92" Alias="HomePage BoxList" Level="1">
  <Info>
    <Name>HomePage BoxList</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "startpageBox",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": 3,
  "MaxItems": 6,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>