<?xml version="1.0" encoding="utf-8"?>
<DataType Key="91ff842e-068c-475b-8547-c86c2b340def" Alias="Standard MediaPicker" Level="1">
  <Info>
    <Name>Standard MediaPicker</Name>
    <EditorAlias>Umbraco.MediaPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "OnlyImages": true,
  "DisableFolderSelect": true,
  "StartNodeId": null,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>