<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5edefe05-9315-4279-90ad-4d661d9d1f27" Alias="Standard Textbox" Level="1">
  <Info>
    <Name>Standard Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>