.hr-80{
    width: 80%;
}
.width-70{
    width: 70%;
}

.margin-right{
    margin-right: 0.6rem;

}

.padding-top{padding-top: 2rem;}
.padding-bottom{padding-bottom: 2rem;}
.padding-right{padding-right: 2rem;}
.padding-left{padding-left: 2rem;}
.padding-all{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.breadcrumb{
    background-color: white;
}

#FAQdropdown{
    width:100%;
    cursor: pointer;
}

#FAQpageDropdown{
    width:100%;
    cursor: pointer;
}

.faqSection{
    .card-header{
        a{
            color: black;
            text-decoration: none;
        }
        .lead{
            font-size: 1.2rem;
        }
    }
    .card-body{
        p{
            margin-bottom: 0;
        }
    }
}

.validation-summary-errors{
    color: red;
    ul{
        list-style-type: none;
    }
}
