nav{
    .navbar{
        padding-top: 0;
        padding-bottom: 0;
        height: 20px;
    }
    li{
        font-size: 1.4rem;
    }
    background-color: $light-passive-bg;
}

.image-fitting-div{
    text-align: center;
    @media(min-width: 992px){
        height: 600px;
        overflow: hidden;
    }
    padding:0;
}

.start-image{
    padding: 1rem;
    padding-bottom:2rem;
    @media(max-width: 574px){
        padding: 0;
        padding-bottom: 1rem;
       
    }
}
