.product-item {
    .product-item-icon {
        height: 7rem;
        padding-top: 1.5rem;

        .product-item-iconColor {
            color: $standard-color;
            font-size: 4rem;
            transition: 500ms;
        }
    }

    &:hover {
        .product-item-iconColor {
            font-size: 4.5rem;
            color: $hover-color;
            transition: 200ms;
        }
    }

    height: 16rem;
    background-color: $light-passive-bg;
    border-radius: 0.4rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;

    .lead {
        font-size: 1.2rem;
    }

    @media(min-width: 768px) {
        height: 18rem;
    }

    @media(max-width: 574px) {
        height: 12rem;
        /*padding-left: 0.5rem;
        padding-right: 0.5rem;
        text-align: center;
        .product-item-icon{
            display: block;
        }
        h3{
            font-size: 1.5rem;
            margin-top:1rem;
        }*/
        .cardDesc {
            .lead {
                display: none;
            }
        }
    }
}

.cardHover{
    color:inherit;
}

.cardHover:hover{
    text-decoration: none;
    color: inherit;
}


