.logout-btn {
  border-radius: 1rem; }

.login-btn {
  border-radius: 1rem; }

.btn {
  font-size: 1.3rem; }

.logout-btn-div {
  padding-left: 2rem; }

.text-logout {
  line-height: 40px;
  font-size: 1.5rem; }

.manual-box {
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
  font-weight: 400;
  padding: .375rem .75rem;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 1.5;
  font-size: 1.5rem; }
  .manual-box .manual-header {
    text-align: center; }
